@model List<AppUser>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="section">
    <div class="section-header">
        <h1>Kullanıcılar</h1>
    </div>

    <div class="section-body">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-md">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Kullanıcı Adı</th>
                                <th>Email</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Count == 0)
                            {
                                <tr>
                                    <th colspan="4">Hiç bir üye yoktur</th>
                                </tr>
                            }
                            else
                            {
                                @foreach (var user in Model)
                                {
                                    <tr>
                                        <td>@user.Id</td>
                                        <td>@user.UserName</td>
                                        <td>@user.Email</td>
                                        <td></td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>