@model Mobi.Models.SignInViewModel

@{
    ViewData["Title"] = "SignIn";
    Layout = "";
}
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>Kayıt Ol &mdash; Mobi</title>

    <!-- General CSS Files -->
    <link rel="stylesheet" href="~/lib/stisla/modules/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/lib/stisla/modules/fontawesome/css/all.min.css">

    <!-- CSS Libraries -->
    <link rel="stylesheet" href="~/lib/stisla/modules/jquery-selectric/selectric.css">

    <!-- Template CSS -->
    <link rel="stylesheet" href="~/lib/stisla/css/style.css">
    <link rel="stylesheet" href="~/lib/stisla/css/components.css">
    <!-- Start GA -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-94034622-3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-94034622-3');
    </script>
    <!-- /END GA -->
</head>

<body>
    <div id="app">
        <section class="section">
            <div class="container mt-5">
                <div class="row">
                    <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-8 offset-lg-2 col-xl-8 offset-xl-2">
                        @*<div class="login-brand">
                            <img src="~/lib/stisla/img/stisla-fill.svg" alt="logo" width="100" class="shadow-light rounded-circle">
                        </div>*@
                         <div class="login-brand">
                        </div>

                        <div class="card card-primary">
                            <div class="card-header"><h4>Kayıt Ol</h4></div>

                            <div class="card-body">
                                <form asp-action="SignIn" method="POST">

                                    <div class="form-group">
                                        <label asp-for="Email" class="control-label"></label>
                                        <input asp-for="Email" id="email" type="email" class="form-control" name="Email">
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>

                                    <div class="form-group">
                                        <label asp-for="UserName" class="control-label"></label>
                                        <input asp-for="UserName" id="UserName" type="text" class="form-control" name="UserName">
                                        <span asp-validation-for="UserName" class="text-danger"></span>
                                    </div>

                                    <div class="form-group">
                                        <label asp-for="Password" class="d-block"></label>
                                        <input asp-for="Password" id="password" type="password" class="form-control" name="Password">
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>

                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary btn-lg btn-block">
                                            Kayıt Ol
                                        </button>
                                    </div>
                                </form>
                                
                                <div>
                                    <a class="btn btn-info" asp-action="Index" asp-controller="Home">Anasayfa</a>
                                </div>
                            </div>
                        </div>
                        <div class="simple-footer">
                            Copyright &copy; Mobi @DateTime.Now.Year
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- General JS Scripts -->
    <script src="~/lib/stisla/modules/jquery.min.js"></script>
    <script src="~/lib/stisla/modules/popper.js"></script>
    <script src="~/lib/stisla/modules/tooltip.js"></script>
    <script src="~/lib/stisla/modules/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/lib/stisla/modules/nicescroll/jquery.nicescroll.min.js"></script>
    <script src="~/lib/stisla/modules/moment.min.js"></script>
    <script src="~/lib/stisla/js/stisla.js"></script>

    <!-- JS Libraies -->
    <script src="~/lib/stisla/modules/jquery-pwstrength/jquery.pwstrength.min.js"></script>
    <script src="~/lib/stisla/modules/jquery-selectric/jquery.selectric.min.js"></script>

    <!-- Page Specific JS File -->
    <script src="~/lib/stisla/js/page/auth-register.js"></script>

    <!-- Template JS File -->
    <script src="~/lib/stisla/js/scripts.js"></script>
    <script src="~/lib/stisla/js/custom.js"></script>
</body>
</html>