@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- breadcrumb start-->
<section class="breadcrumb breadcrumb_bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="breadcrumb_iner">
                    <div class="breadcrumb_iner_item">
                        <h2>Ürünler</h2>
                        @*<p>Home <span>-</span> Shop Category</p>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb start-->
<!--================Category Product Area =================-->
<section class="cat_product_area section_padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                @*kategoriler gelecek*@
                <div class="left_sidebar_area">
                    <aside class="left_widgets p_filter_widgets">
                        <div class="l_w_title">
                            <h3>Kategoriler</h3>
                        </div>
                        <div class="widgets_inner">
                            <ul id="category" class="list">
                                <li onclick="productListByCategory(this)">
                                    Tümü
                                </li>
                                @foreach (var category in ViewBag.Category)
                                {
                                    <li onclick="productListByCategory(this)">
                                        @category.Name
                                    </li>
                                }
                            </ul>
                        </div>
                    </aside>
                </div>
            </div>
            <div class="col-lg-9">
                @*Ürünler gelecek*@
                <div id="productList" class="row align-items-center latest_product_inner">
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Category Product Area =================-->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>

    var productDiv = document.getElementById("productList");
    var UserId = @UserManager.GetUserAsync(User).Result.Id;
    var Data;
    GetData();

    function GetData(){
        $.get(`/api/MyFavorites?userId=${UserId}`,  // url
            function (data, textStatus, jqXHR) {  // success callback
                productDiv.innerHTML = "";
                ShowAllProductList(data);
                Data=data;
        });
    }

    function ShowAllProductList(data){
        data.forEach(function(product){
            productAddToDiv(product);
        });
    }

    function productListByCategory(element){
        productDiv.innerHTML = "";
        if("Tümü" == element.innerText.trim()){
            ShowAllProductList(Data);
        }
        else{
            Data.forEach(function(data){
                if(data.categoryName == element.innerText.trim()){
                    productAddToDiv(data);
                }
            });
        }
    }

     function deleteFavorite(productId, userId){
            $.get(`/api/DeleteFavorite?productId=${productId}&userId=${userId}`,  // url
                function (data, textStatus, jqXHR) {  // success callback
                GetData();
            });
    }

    function productAddToDiv(product){
        productDiv.innerHTML += `
                    <div class="col-lg-4 col-sm-6">
                        <div class="single_product_item">
                            <img src="/image/products/`+product.originalImagePath+`" style="width:100%;" alt="">
                            <div class="single_product_text">
                                <h4>`+product.name+`</h4>
                                <a href="#" onclick="deleteFavorite(${product.id},${UserId})" class="add_cart">Favorilerden Çıkar</i></a>
                            </div>
                        </div>
                    </div>
                  `
    }
</script>


